@import 'variables';
@import 'mixins';

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); // The image width
  }
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("assets/JS Game background v1.png") repeat-x;
  height: 1000px;
  width: 7680px;
  animation: slide 7s linear infinite;
}


#game-container {
  @include size(100%, 100vh);
}

#player {
  @include size($player-size, $player-size);
  bottom: 0;
  left: 50px;
  display: none;
}
$floor-height: 0px;
#floor {
  position: fixed;
  width: 100%;
  height: $floor-height;
  background-color: #000000;
  bottom: 5px;
  z-index: 5;

  // Ensure the height matches the specified value
  @if height != $floor-height {
    @warn "The height of #floor should be #{$floor-height}.";
  }
}


#coin {
  border-radius: 25px;
  position: absolute;
  animation: backwards;
}

#score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 10px; /* Adjust as needed */
  left: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a background to see the element */
  color: white;
  font-size: 28px;
  font-family: Arial, sans-serif;
  border-radius: 25px;
  -webkit-text-stroke: black 2px;
}

  #score-value {
    font-size: 58px;
  }


