body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("assets/JS Game background v1.png") repeat-x;
  height: 1000px;
  width: 7680px;
  animation: slide 7s linear infinite; /* Adjust animation duration as needed */
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}
@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

#game-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: transparent; /* Set background color to transparent */
}

#player {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  left: 50px; /* Initial position */
  display: none;
}

#floor {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #000000;
  bottom: 0;
  z-index: 5;
}

#canvas1 {
  background-color: none;
  fill: aqua;
}

#coin {
  border-radius: 25px;
  animation: backwards;
  position: absolute;
}

#score {
  display: flex;
  padding: 10px;
  -webkit-text-stroke: black 2px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 20px;
  color: white;
  font-size: 28px;
  font-family: Arial, sans-serif;
  border-radius: 25px solid black;
}

#score-value {
  font-size: 58px;
  font-family: Arial, sans-serif;
}

#menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  flex-direction: column;
  height: 100px;
  padding: 20%;
  border-radius: 25px;
  font-size: 30px;
  color: white;
  text-decoration: underline;
  font-family: impact, sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  text-align: left;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-text {
  position: absolute;
  left: 10px;
}

h1 {
  margin: auto;
  display: flex;
  justify-content: center;
}

#menu-pic {
  display: flex;
  position: absolute;
  height: 60%;
  bottom: 50px;
  width: 60%;
  justify-content: center;
  align-items: center;
  z-index: -1;
  -webkit-animation: rainbow 4s steps(36) infinite;
}
@-webkit-keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(10deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(10deg);
    filter: hue-rotate(10deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

#wasd {
  position: absolute;
  margin-left: 200px;
  bottom: 65%;
  max-width: 390px;
  max-height: 390px;
}

#info {
  position: absolute;
  margin-right: 200px;
  bottom: 50%;
  left: 1%;
  max-width: 400px;
  max-height: 400px;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#win-screen {
  display: none;
  background-image: url("assets/brain-win.gif");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  font-size: 50px;
  color: white;
  text-decoration: underline;
  position: absolute;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  font-family: impact, sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

h2 {
  position: sticky;
  padding-bottom: 200px;
  max-height: 10%;
}

#lose-screen {
  display: none;
  background-image: url("assets/lose-screen.gif");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  font-size: 50px;
  color: white;
  text-decoration: underline;
  position: absolute;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  font-family: impact, sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
